@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

main {
	@apply relative;
	font-family: "Poppins", sans-serif;
}

body {
	@apply dark:text-white dark:bg-zinc-700 scroll-smooth
	overflow-x-hidden;
}

a:not(.no-custom) {
	@apply cursor-pointer font-semibold
	text-cyan-500 dark:text-cyan-400
	hover:text-rose-500 dark:hover:text-rose-400
	visited:text-violet-500 dark:visited:text-violet-400 relative;
}

a:not(.no-underline) {
	@apply before:content-[""] before:h-1 before:left-0 before:right-0 before:bg-rose-500 before:bg-opacity-60 before:absolute before:translate-y-5
	before:origin-right before:scale-x-0 hover:before:scale-x-100 hover:before:origin-left
	before:transition-transform before:duration-200;
}

.WaveDivider {
	@apply w-full h-full pb-10 md:py-10 mb-5 relative
	bg-gradient-to-br from-sky-300 to-violet-300
	dark:from-pink-400 dark:to-orange-400;
}

.custom-shape-divider-bottom-1641994563 {
	@apply absolute bottom-0 left-0 w-full overflow-hidden rotate-180;
	line-height: 0;
}

.custom-shape-divider-bottom-1641994563 svg {
	@apply relative block h-4 md:h-16;
	width: calc(100% + 1.3px);
}

.custom-shape-divider-bottom-1641994563 .shape-fill {
	@apply fill-white dark:fill-zinc-700;
}

::-webkit-scrollbar {
	width: 7px;
	height: 5px;
}
::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #fb923c 14%, #f472b6 64%);
	border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
	background: linear-gradient(13deg, #7dd3fc 14%, #c4b5fd 64%);
}

::-webkit-scrollbar-track {
	background: #ffffff;
	border-radius: 10px;
	box-shadow: inset 7px 10px 12px #f0f0f0;
}

.dark ::-webkit-scrollbar-track {
	background: #27272a;
	box-shadow: inset 7px 10px 12px #52525b;
}
