.Projects {
	@apply mx-5;
}
.Projects h1 {
	@apply text-4xl text-center font-bold text-slate-600 mb-4
	before:block before:content-[''] before:w-full before:h-1 before:bg-red-400 before:top-[25px] before:relative;
}

.Projects h1 span {
	@apply bg-white dark:bg-zinc-700 dark:text-slate-200 relative px-2;
}

.Project a {
	@apply underline;
}

.Project {
	@apply flex flex-col md:flex-row border-2 pb-4 md:p-4 rounded-xl md:rounded-3xl w-11/12 mx-auto
	border-zinc-400 dark:border-gray-600
	bg-gray-100 dark:bg-transparent
	overflow-hidden md:overflow-auto
	shadow-lg shadow-zinc-400/70 dark:shadow-gray-600/70;
}

.Project .Avatar {
	@apply w-full max-h-60 md:rounded-3xl md:w-48 md:h-48 mb-4 md:mb-0;
}

.Project .Title {
	@apply text-2xl md:text-4xl font-bold tracking-tight mb-3;
}

.Project .Description {
	@apply text-sm md:text-base text-justify;
}

.Project + .Project {
	@apply mt-4;
}

.Project:nth-child(2n + 1) {
	@apply md:text-right md:flex-row-reverse;
}

.Project-Special {
	flex-direction: column !important;
	text-align: start !important;
}

.Project .Programs {
	@apply flex flex-row appearance-none;
}

.Project .Programs .program::before {
	@apply inline-block content-[''] w-1 h-1 rounded-xl mr-1 -top-[.4ch] relative bg-[color:var(--color,#64748b)];
}

.Project .Programs li {
	@apply mr-2 text-xs;
}
